*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    width: 20vw;

}

.form label{
    margin-top: 14px;
}

.form input{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

.form button{
    margin-top: 14px;
    height: 50px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.table-div{
    margin-top: 15px;
}

.table-div th{
    border: 1px solid black;
    padding: 10px;
}

.table-div button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}